<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<meta name="theme-color" content="#333333">

	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/featherlight.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/fontawesome.all.min.css"}}">

    {{#if pagination.next}}<link href="{{page_url pagination.next}}" rel="prefetch" />{{/if}}

    {{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="wrapper">

    <header id="site-header">
		{{> social-header}}
        <h1 class="blog-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
        <h2 class="blog-description">{{@site.description}}</h2>
        {{navigation}}
    </header>

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
            {{!> footer-description}}
            <div class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@site.title}}</a>.</div>
            <div><a href="https://github.com/katerkalu/halffull_theme" rel=noopener" name="This theme on github">Half Full theme</a> by Dion Tautkus</div>
            <div class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org/"><span class="hidden">Ghost</span></a></div>
			<div class="offi-links">{{navigation type="secondary"}}</div>
        </div>

    </footer>
</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		$(document).ready(function(){
		// Target your .container, .wrapper, .post, etc.
		$(".post-content").fitVids();
		$('.kg-image').featherlight({targetAttr: 'src'});


		$('.kg-gallery-image img').featherlightGallery({
		targetAttr: 'src',
		previousIcon: '&#9664;',     /* Code that is used as previous icon */
		nextIcon: '&#9654;',         /* Code that is used as next icon */
		galleryFadeIn: 100,          /* fadeIn speed when slide is loaded */
		galleryFadeOut: 300          /* fadeOut speed before slide is loaded */

		});

		});
	</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
	<script type="text/javascript" src="{{asset "js/featherlight.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/featherlight.gallery.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>



	{{ghost_foot}}
</body>
</html>
