<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<meta name="theme-color" content="#333333">

    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/featherlight.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/fontawesome.all.min.css"}}">

    {{#if pagination.next}}<link href="{{page_url pagination.next}}" rel="prefetch" />{{/if}}

    {{ghost_head}}
</head>
<body class="{{body_class}}">
<div class="wrapper">

    <header id="site-header">
		{{> social-header}}
        <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2 class="blog-description">{{@blog.description}}</h2>
        {{navigation}}
    </header>

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
            {{!> footer-description}}
            <section class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</section>
            <section><a href="https://github.com/katerkalu/halffull_theme" rel=noopener">Half Full theme</a> by Dion Tautkus</section>
            <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org/"><span class="hidden">Ghost</span></a></section>
			<section class="offi-links">{{> offi-links}}</section>
        </div>
    </footer>

    {{ghost_foot}}
	
	<script type="text/javascript" src="{{asset "js/jquery-3.3.1.min.js"}}"></script>
	<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".post-content").fitVids();
	$('.kg-image').featherlight({targetAttr: 'src'});
  });
</script>
	
	<script type="text/javascript" src="{{asset "js/featherlight.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
</div>
</body>
</html>