{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
			<div class="post-meta">
				<time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">{{date published_at format="DD.MM.YYYY"}}</time> | 
				{{#primary_tag}}
					<a href="{{url}}">{{name}}</a>
				{{/primary_tag}}
			</div>
			
			<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
			
        </header>
        <section class="post-content">
			{{#if feature_image}}
				<a href="{{url}}" class="feature_image_link"><img src="{{img_url feature_image}}" class="feature_image"></a>
			{{/if}}
			
			{{#if custom_excerpt}}
				{{custom_excerpt}}
				<p><a class="read-more" href="{{url}}">Read on &raquo;</a></p>
			{{else}}
				{{content}}
			{{/if}}
			
			
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>