{{!< default}}

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview">
        <header>
			<div class="post-meta">
				{{#if featured}}<span style="color: #ff8c00;"><i class="fas fa-fire" title="FEATURED POST!"></i></span>{{/if}}
				<time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">{{date published_at format="DD.MM.YYYY"}}</time> | 
				{{#primary_tag}}
					<a href="{{url}}">{{name}}</a>
				{{/primary_tag}}
			</div>
			
			<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
			
        </header>
        <section class="post-content">
			{{#if feature_image}}
				<a href="{{url}}" class="feature_image_link" name="{{{title}}}"><img class="feature_image" srcset="{{img_url feature_image size="s"}} 324w,
                    {{img_url feature_image size="m"}} 560w,
                    {{img_url feature_image size="l"}} 1024w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 324px, 560px"
            src="{{img_url feature_image size="m"}}"
            alt="{{title}}"></a>
			{{/if}}
			
			{{#if custom_excerpt}}
				<p>{{custom_excerpt}}</p>
				<p><a class="read-more" href="{{url}}" title="Read the full {{{title}}} post">Read on &raquo;</a></p>
			{{else}}
				{{content}}
			{{/if}}
			
			
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>