{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

        <header>
        <div class="post-meta">
			<time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">{{date published_at format="DD.MM.YYYY"}}</time> | 
			{{#primary_tag}}
				<a href="{{url}}">{{name}}</a>
			{{/primary_tag}}
		</div>
        <h1 class="post-title">{{{title}}}</h1>
        </header>

        <section class="post-content">
			{{#if feature_image}}
				<a href="#" class="feature_image_link" data-featherlight="{{img_url feature_image}}"><img src="{{img_url feature_image}}" class="feature_image"></a>
			{{/if}}
            {{content}}
			
			{{#if tags}}<div class="tagwrapper"><div class="post-data tags">Tags: {{tags prefix="" separator=", "}}</div></div>{{/if}}
        </section>
		
		<section class="post-nav">
			{{#prev_post}}
				<div class="post-nav-left"><a href="{{url}}"><span class="post-nav-arrows">&#xab; previous</span><span class="post-nav-link">{{title}}</span></a></div>
			{{/prev_post}}

			{{#next_post}}
				<div class="post-nav-right"><a href="{{url}}"><span class="post-nav-arrows">next &#xbb;</span><span class="post-nav-link">{{title}}</span></a></div>
			{{/next_post}}
		</section>

        <footer class="post-footer">
		

            {{#primary_author}}
            <section class="author">
                <div class="authorimage" style="background: url({{profile_image}})"></div>
				<div class="authordesc">
					<h4><a href="{{website}}">{{name}}</a></h4>
					<p class="bio">{{bio}}</p>
					<ul class="authorlinks">
						{{#if twitter}}<li><a href="{{twitter_url}}">{{twitter}}</a></li>{{/if}}
					</ul>
				</div>
			</section>
            {{/primary_author}}

        </footer>

        {{/post}}

        {{!> comments-disqus}}
        {{!> comments-facebook}}
        {{!> comments-google-plus}}

    </article>

</main>
