{{!< default}}

<main class="content" role="main">
	
	{{#tag}}
	{{#if feature_image}}
	<div class="tag-page-with-img">
		<img src="{{img_url feature_image}}" class="tag-page-img">
		<p>
			<span class="tag-page-name"><i class="fas fa-anchor"></i><br>{{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}} in {{name}}</span><br>
            <span class="tag-page-desc">{{description}}</span>  
		</p>
	</div>
	{{else}}
	<div class="tag-page">
		<p>
			<span class="tag-page-name"><i class="fas fa-anchor"></i><br>{{name}}</span><br>
			{{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='one post' plural='% posts'}}
             {{/if}}
		</p>
	</div>
	{{/if}}
	{{/tag}}

    {{#foreach posts}}

    <article class="preview">
        <header>
			<div class="post-meta">
				{{#if featured}}<span style="color: #ff8c00;"><i class="fas fa-fire" title="FEATURED POST!"></i></span>{{/if}}
				<time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">{{date published_at format="DD.MM.YYYY"}}</time> | 
				{{#primary_tag}}
					<a href="{{url}}">{{name}}</a>
				{{/primary_tag}}
			</div>
			
			<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
			
        </header>
        <section class="post-content">
			{{#if feature_image}}
				<a href="{{url}}" class="feature_image_link" name="{{{title}}}"><img src="{{img_url feature_image}}" class="feature_image" alt="The featured image"></a>
			{{/if}}
			
			{{#if custom_excerpt}}
				<p>{{custom_excerpt}}</p>
				<p><a class="read-more" href="{{url}}">Read on &raquo;</a></p>
			{{else}}
				{{content}}
			{{/if}}
			
			
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>